<html>

<head>
  <meta charset=utf-8>
</head>

<body>
  <div id="app">
    <section id="signInAndSignUp" v-if="!currentUser">
      <div>
        <el-tabs v-model="actionType"  @tab-click="handleClick">
          <el-tab-pane label="注册" name="signUp"></el-tab-pane>
          <el-tab-pane label="登录" name="login"></el-tab-pane>
        </el-tabs>
        
      </div>
      <div class="signUp" v-if="actionType=='signUp'">
        <form @submit.prevent=signUp>
          <div class="formRow">
            用户名<el-input type="text" v-model="formData.username">
          </div>
          <div class="formRow">
            密码<el-input type="password" v-model="formData.password">
          </div>
          <div class="formActions">
            <el-button @click="signUp">注册</el-button>
          </div>
        </form>
      </div>
      <div class="login" v-if="actionType=='login'">
        <form @submit.prevent=login>
          <div class="formRow">
            用户名<el-input type="text" v-model="formData.username">
          </div>
          <div class="formRow">
            密码<el-input type="password" v-model="formData.password">
          </div>
          <div class="formActions">
            <el-button  @click="login">登录</el-button>
          </div>
        </form>
      </div>
    </section>
    <section id="todo" v-if="currentUser">
      <span>{{currentUser.username}}</span>
      <p>
        <el-button @click="logout">登出</el-button>
      </p>
      <div class="newTask">
        <input type="text" v-model="newTodo" @keypress.enter="addTodo" placeholder="请输入你的Todos">
      </div>
      <ol class="todos">
        <li v-for="todo in todoList">
          <input type="checkbox" v-model="todo.done"> {{todo.title}}
          <span v-if="todo.done">已完成</span>
          <span v-else>未完成</span>
          <span>{{todo.createdAt}}</span>
          <i class="el-icon-delete2" id="rmbtn" @click="removeTodo(todo)"></i>
        </li>
      </ol>
    </section>
  </div>
  <script src="bundle.js"></script>
</body>

</html>
<style>
  * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }
  *::before{
    box-sizing: border-box;
  }
  *::after{
    box-sizing: border-box;
  }
  
  #app {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }
  #app >
  .todos {
    min-width: 200px;
    min-height: 400px;
  }
</style>